#cloud-config
hostname: genesis
users:
  - name: genesis
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    plain_text_passwd: genesis
ssh_pwauth: true
package_update: true
packages:
  - python3
  - python3-pip
  - python3-psutil
